{%  extends '::base.html.twig' %}

{% block body %}
<div class="posts-list">

    ID: {{ user.id }} <br>
    Username: {{ user.name }} <br>
    Email: {{ user.email }} <br>
    First Name: {{ user.firstName }} <br>
    Last name: {{ user.lastName }}


</div>

{% endblock %}